:root {
  --primary:#EAEBEB;
  --secondary: #131A0A;
  --main-bg-color: #27292D;
  --color-stats-value: #8bc34a;
  --text-color: #ffffff;
}

.reputation {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-color);
  padding-left: 20px;
}

.reputation__box {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
}

.reputation__box--padding {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
  padding-bottom: 15px;
}

.reputation__signal-stats {
  height: 26px;
  display: flex;
  justify-content: center;
 }
 
.reputation__signal-stats--icon {
  height: 26px;
  fill: var(--primary);
}

.reputation__signal-stats-icon--inverted {
  height: 26px;
  transform: scaleX(-1);
  fill: var(--primary);
}

.reputation__signal-stats--value {
  font-size: 24px;
  color: var(--color-stats-value);
  padding-left: 3px;
}

.reputation__signal--text {
  font-size: 12px;
  text-align: center; 
  color: var(--text-color);
}

.reputation__signal-stats-btn {
  display: flex;
  min-height: 36px;
  min-width: 120px;
  border: none;
  background: none;
  background-color: var(--color-stats-value);
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
 }
 
 .reputation__signal-stats-btn:focus {
  outline: 0;
 }

.reputation__signal-stats-icon-btn {
  height: 26px;
  fill: var(--secondary);
}

.reputation__signal-stats-text-btn {
  color:var(--secondary);
  font-weight: 500;
  display: flex;
  padding-left: 3px;
}